<mat-card>
    <mat-form-field appearance="fill">
        <textarea matInput rows="6" [(ngModel)]="enteredValue"></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="onCreatePost()" >Save Post</button>
</mat-card>
<p>{{newPost}}</p>